.classpath
.gradle/
.project
.settings/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
asm/
bin/
config/
crash-reports/
eclipse/
forge-1.7.10-10.13.2.1230-changelog.txt
logs/
mods/
options.txt
saves/
screenshots/
usercache.json
usernamecache.json
icon.png
HeadCrumb Withers_Client.launch
HeadCrumb Withers_Server.launch
build/
*.iml
*.ipr
*.iws
out/
